.progress-modal {
  padding: 0 1rem 1rem;

  .progress {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    svg {
      animation: 2s linear 0s infinite normal none running rotation;
      height: 90px;
      width: 90px;
    }
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .waiting-text {
    font-weight: 500;
    font-size: 20px;
  }

  .confirm-text {
    font-size: 12px;
    color: rgb(86, 90, 105);
    margin: 0px 0px 12px;
  }
  .pending-text {
    font-weight: 500;
    font-size: 14px;
  }

  .error-line {
    background-color: rgb(255, 157, 137);
    color: rgb(255, 157, 137);
    height: 2px;
    border: none;
    margin-top: 20px;
  }
}
