@import "./home.scss";
@import "./pool.scss";

.connect-text {
  font-size: 24px;
  padding: 0.5rem;
  border-radius: 50px;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  margin-right: 8px;
  border: 1px solid transparent;
  text-align: center;
  margin: 30px auto;
}
